@model Database.Framework.LichDay
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h2>Thêm lịch dạy</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenMH, "Tên môn học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TenMH", null, "-- Môn học --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenMH, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.NhomHP, "Nhóm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NhomHP", new SelectList(" "), "-- Nhóm học phần --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NhomHP, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script>$(document).ready(function () {
                    $("#TenMH").change(function () {
                        $.get("/LichDayGV/GetNhomHPList", { MaMH: $("#TenMH").val() }, function (data) {
                            $("#NhomHP").empty();
                            $.each(data, function(index, row) {
                                $("#NhomHP").append("<option value='"+row.MaNhom+"'>"+row.TenNhom+"</option>")
                            });
                        });
                    })
                });</script>

        <div class="form-group">
            @Html.LabelFor(model => model.PhongHoc, "Phòng học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PhongHoc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhongHoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GVDay, "Giảng viên dạy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GVDay", new SelectList(" "), "-- Giảng viên --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GVDay, "", new { @class = "text-danger" })
            </div>
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script>$(document).ready(function () {
                    $("#TenMH").change(function () {
                        $.get("/LichDayGV/GetGVList", { MaMH: $("#TenMH").val() }, function (data) {
                            $("#GVDay").empty();
                            $.each(data, function(index, row) {
                                $("#GVDay").append("<option value='"+row.MaGV+"'>"+row.HoTenGV+"</option>")
                            });
                        });
                    })
                });</script>

        <div class="form-group">
            @Html.LabelFor(model => model.ThuNgay, "Thứ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ThuNgay", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThuNgay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayBatDau, "Ngày bắt đầu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayKetThuc, "Ngày kết thúc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GioBatDau, "Tiết bắt đầu học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GioBatDau", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GioBatDau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GioKetThuc, "Tiết kết thúc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GioKetThuc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GioKetThuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>


