@model Database.Framework.LichDay

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chi tiết lịch dạy</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên môn học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMH)
        </dd>

        @*<dt>
            Nhóm
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.HocPhan.TenKhoa)
        </dd>

        <dt>
            Giảng viên dạy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAOVIEN.HoTenGV)
        </dd>

        <dt>
            Thời gian dạy
        </dt>

        <dd>
            Từ:  @Html.DisplayFor(model => model.NgayBatDau)  -  Đến:  @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            Vào ngày thứ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THU.TenThu)
        </dd>

        <dt>
            Tiết học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TietHoc.Tiet) - @Html.DisplayFor(model => model.TietHoc1.Tiet)
        </dd>

        <dt>
            Giờ học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TietHoc.TGianBD) - @Html.DisplayFor(model => model.TietHoc1.TGianKT)
        </dd>

        <dt>
            Phòng học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONG.TenPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaLich }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
