@model PagedList.IPagedList<Database.Framework.Nganh>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách ngành";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách ngành</h2>
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div>
    @using (Html.BeginForm("Index", "Nganhs", FormMethod.Get))
    {
        <table class="table1" align="center" style="margin-bottom: 20px">
            <tr>
                <td>
                    <div>Tìm kiếm</div>
                </td>
                <td>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" name="submit" value="Tìm kiếm" class="btn btn-primary" />
                    <input type="button" name="Nhapmoi" value="Nhập mới" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Nganhs/Create")'" />
                </td>
            </tr>
        </table>
    }
</div>
<table class="table">
    <tr>
        <th>
            Mã ngành
        </th>
        <th>
            Tên ngành
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNganh)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaNganh }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaNganh })
            </td>
        </tr>
    }

</table>
<div class="page-count" style="display: inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>
<br />
<div class="pagination" style="display: inline-block; vertical-align: middle;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>