@model IEnumerable<Database.Framework.LichDay>

@{
    ViewData["title"] = "Lịch dạy giảng viên";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='~/Scripts/main.css' rel='stylesheet' />
    <script src='~/Scripts/main.js'></script>
    <script src='~/Scripts/main.min.js'></script>
    <script src="~/Scripts/Calendar.js"></script>
    <style>
        body {
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: auto;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <table id="ClassTable" style="display: none">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaLich)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonHoc.TenMH) -
                    @Html.DisplayFor(modelItem => item.HocPhan.TenKhoa) -
                    Giáo viên: @Html.DisplayFor(modelItem => item.GIAOVIEN.HoTenGV) -
                    Phòng: @Html.DisplayFor(modelItem => item.PHONG.TenPhong)
                </td>
                <td>@Html.DisplayFor(modelItem => item.ThuNgay)</td>
                <td>@Html.DisplayFor(modelItem => item.TietHoc.TGianBD)</td>
                <td>@Html.DisplayFor(modelItem => item.TietHoc1.TGianKT)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayBatDau).ToString()</td>
                <td>@Html.DisplayFor(modelItem => item.NgayKetThuc).ToString()</td>
                <td>Giảng viên chủ nhiệm: @Html.DisplayFor(modelItem => item.GIAOVIEN.HoTenGV)</td>
            </tr>
        }
    </table>

    <div id='calendar'></div>
</body>
</html>







