@model Database.Framework.PHONG

@{
    ViewBag.Title = "Xóa phòng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Xóa phòng học này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhong)
        </dd>

        <dt>
            Tên phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhong)
        </dd>

        <dt>
            Thông tin phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinPhong)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
